/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 12px Verdana;
list-style-type: none;
border-bottom: transparent;
background: transparent;
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 6px 8px; /*padding inside each tab*/
border-right: transparent; /*right divider between tabs*/
color: black;
background: transparent;
}

.mattblackmenu li a:visited{
color: white;
}

.mattblackmenu li a:hover{
background:#D0D0D0; /*background of tabs for hover state */
}

.mattblackmenu a.selected{
background:#D0D0D0; /*background of tab with "selected" class assigned to its LI */
}